<h1>Home Page</h1>
{{!-- on top Login button, hide if there is a user --}}
{{!-- search bar --}}
{{!-- random list of vegan restaurant --}}
{{!-- when user clicked a restaurant, redir to restaurant page --}}
{{!-- load more button at the end of list --}}
