<h1>Restaurant Page</h1>
{{!-- name of restaurant --}}
{{!-- images --}}
{{!-- rating --}}
{{!-- fav button --}}
{{!-- write review button --}}
{{!-- form for review, textbox, post button --}}
{{!-- reviews by customers --}}
{{!-- load more reviews button --}}