<!-- nav bar -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" id="logo" href="#">Vegan</a>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-center">
           <form class="justify-content-center inputform">
               <h2 style="text-align: center;">Sign up for Vegan</h2>
               <p style="text-align: center;">Expand your Vegan lifestyle start from here</p>
               <p style="text-align: center; font-size: 12px">By continuing, you agree to Vegan's <a href="#">Terms of Service </a>and <a href="#">Privacy Plocy</a></p>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="email" class="form-control" id="inputEmail1" placeholder="Enter your email" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="inputPassword1" placeholder="Enter your password">
                </div>
                <div class="justify-content-center">
                    <button type="submit" class="btn btn-primary " style="width: 100%;">Sign up</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <small class="subtle-text">Already on Vegan?  <a href="#">Log in</a></small>
    </div>